@charset "UTF-8";
html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.login_bg {
    background-color: #222d32;
}

.mt_150 {
    margin-top: 150px;
}

.panel h4 {
    text-align: center;
}


/* ***********右边导航栏部分**************** */

.ad_aside {
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: absolute;
    left: 0;
    transition: all 1s;
}

.ad_aside.now {
    left: -180px;
}

.brand a {
    background-color: #367fa9;
    display: block;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    /* font-weight: 700; */
}

.user {
    width: 180px;
    height: 150px;
    text-align: center;
}

.user img {
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    margin: 30px auto 0;
}

.user span {
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
}

.nav {
    width: 100%;
}

.nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #bbb;
    padding-left: 30px;
    font-size: 16px;
    border: 3px solid transparent;
}

.nav .child a {
    padding-left: 50px;
    font-size: 14px;
}

.nav li a.now {
    background-color: #1D1F21;
    color: #fff;
    border: 3px solid transparent;
    border-left-color: #367fa9;
}


/* ************右边样式部分*********** */

.main {
    height: 100%;
    padding-left: 180px;
    transition: all 1s;
}

.main.now {
    padding-left: 0;
}

.main .topbar {
    height: 50px;
    background-color: #3c8dbc;
    padding: 0 20px;
    line-height: 50px;
    margin-bottom: 20px;
}

.main .topbar a {
    font-size: 18px;
    color: #fff;
}